style {
    .ui-button {
        cursor: pointer;
    }

    .ui-button:hover {
        background-color: var(--accent-2);
    }
}

ui-container.ui-button ...input padded on-click("handleClick")
    a href=input.href||input.src||null
        ui-text -- ${input.text||""}