style {
    .ui-container {
        display: flex;
        flex-direction: column;
    }

    .ui-container.centered {
        align-items: center;
        place-content: center;
    }

    .ui-container.placecenter {
        place-content: center;
    }

    .ui-container.aligncenter {
        align-items: center;
    }

    .ui-container.fillspace {
        flex: 1;
    }
}

ui-element.ui-container ...input class=state.classes id=input.id on-click("handleClick")
    <${input.renderBody}/>