ui-linear-layout ...input on-click("handleClick")
    if(input.time !== false)
        @element
            ui-text -- ${state.hour}
    if(input.date !== false)
        @element
            ui-text -- ${state.date}