style {
    .ui-emphasis {
        font-family: var(--text-font);
        font-size: var(--font-size-small);
    }
}

ui-element.ui-emphasis tag="em"||input.tag ...input class=input.class
    <${input.renderBody}/>