class {
    onCreate(input) {
        this.state = {
            value: input.value||null
        }
    }
}

ui-element.ui-textbox ...input tag="input" type="textbox" value=state.value padded fullwidth